
<div id="8Ball" class="row">
    <div class="thumbnail col-md-offset-4 col-md-4  shake shake-constant">
        <p class="">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Magic_eight_ball.png" />
        </p>
        <p id="fortuneText"></p>
    </div>
</div>
<div id="fortuneButton">
    <input type="button" class="button" value="Get Fortune" onclick="Fortune()" />
</div>
